
.reg{
	width:800px;
	border:2px solid #ddd;
	margin:auto;
	text-align:center;
}

.reg_inner{
	//width:400px;
	//height:300px;
	margin:auto;
	text-align: left;
	//float:left;
	
}

.reg_img{
	float:left;
	width:400px;
	//height:300px;
	margin-top:30px;
	margin-left:30px;
	display: inline-block;
}

.setNum,.button,.com{
	margin-left:40px;
	display: inline-block;
}

.desc{
	margin-top:30px;
	margin-left:40px;
	display: inline-block;

}

