* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 200ms;
    -moz-transition: background 200ms;
    -ms-transition: background 200ms;
    -o-transition: background 200ms;
    transition: background 200ms;
}

body {
	background: url(../img/bg2.jpg);
	background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
   // background: #f5f5f5;
    font-size: 14px;
    color: #555;
    line-height: 1.7;
}

a {
    text-decoration: none;
	  color:#dd182b;
}

img {
    max-width: 100%;
    display: block;
}

.dropdown {
	          position: relative;
	          display: inline-block;
	        }
	        .dropdown-content {
	        	z-index:19999;
	          display: none;
	          position: absolute;
	          background-color: #f9f9f9;
	          min-width: 160px;
	          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	          padding: 12px 16px;
	        }
	        .dropdown:hover .dropdown-content {
	          display: block;
	        }

.item:hover,#search:hover{
	background-color:rgba(220,38,38,0.2);
	//transform: scale(2);
  //  transition: all 1s linear;

}


.container {
    max-width: 1080px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.container:before,
.container:after,
.clearf:before,
.clearf:after {
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10 {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-1 {
    width: 10%;
}

.col-2 {
    width: 20%;
}

.col-3 {
    width: 30%;
}

.col-4 {
    width: 40%;
}

.col-5 {
    width: 50%;
}

.col-6 {
    width: 60%;
}

.col-7 {
    width: 70%;
}

.col-8 {
    width: 80%;
}

.top-nav {
   // background: #eee;
}

.top-nav .item {
    display: inline-block;
    color: #666;
    padding: 6px 20px;
}

.header {
    padding: 20px 0;
}

.header .logo {
    background-image: url(../image/logo.png);
    background-size: contain;
    background-repeat:no-repeat;
    background-position: center center;
    height: 60px;
}

.header .search-bar {
    border: 2px solid #ddd;
}

.header input,
.header .search-bar button {
    padding: 8px 20px;
    border: 0;
    outline: 0;
}

.header .search-bar button {
    background: rgba(220,38,38,0.2);
    color: #fff;
}

.header .cart .trigger {
    padding: 6px 20px;
    background: #fff;
    color: #dd182b;
    text-align: center;
    margin-left: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.main-promote .cat {
    background: #6e6568;
    color: #fff;
}

.main-promote .cat .row {
    padding: 12px 20px;
}

.main-promote .cat .row:hover {
    background: #5d5558;
}

.main-promote .sub-promote {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 10px;
}

.main-promote .sub-promote > * {
    padding-bottom: 10px;
}

.main-promote .sub-promote .avatar {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    background: #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}

.main-promote .auth {
    margin-top: 10px;
}

.main-promote .auth button {
    border: 2px solid #dd182b;
    background: transparent;
    color: #dd182b;
    width: 40%;
}

.promote-title {
    font-size: 22px;
}

.promote-title:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 22px;
    margin-right: 10px;
    vertical-align: middle;
    background: #dd182b;
}

.card {
    height: 300px;
    margin: 5px;
    //background: #e5e7dd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*border: 1px solid #ccc;*/
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.card:hover{
	background: #e5e7dd;
	border: 3px solid lavender;
}

.footer {
    text-align: center;
    margin-top: 30px;
  //  background: #eee;
    padding: 50px 0;
    color: #999;
}

.footer a {
    color: #999;
    margin-left: 10px;
}

#container {
		position: relative;
		width: 600px;
		height: 400px;
		border: 2px solid #ddd;
		overflow: hidden;
}

#list {
	position: absolute;
	z-index: 1;
	width: 4200px;
	height: 400px;
}



#list img {
	float: left;
	width: 600px;
	height: 400px;
}



#buttons {
	/*position: absolute;
	left: 250px;
	bottom: 20px;
	z-index: 2;
	height: 10px;
	width: 100px;*/
	border: none;
	color: white;
	overflow: hidden;
	margin: 1rem;
	padding: 0;
	text-transform: uppercase;
	width: 150px;
	height: 40px;
	cursor:pointer;
}



#buttons span {
	float: left;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	background: #333;
	cursor: pointer;
}

#buttons .on {
	background: orangered;
}

.arrow {
	position: absolute;
	top: 180px;
	z-index: 2;
	display: none;
	width: 40px;
	height: 40px;
	font-size: 36px;
	font-weight: bold;
	line-height: 39px;
	text-align: center;
	color: #fff;
	background-color: RGBA(0, 0, 0, .3);
	cursor: pointer;
}

.arrow:hover {
	background-color: RGBA(0, 0, 0, .7);
}

#container:hover .arrow {
	display: block;
}

#prev {
	left: 20px;
}

#next {
	right: 20px;
}

.button{
 background-color: transparent;
	border: 2px solid #555;
	color: #555;
	overflow: hidden;
	margin: 1rem;
	padding: 0;
	text-transform: uppercase;
	width: 120px;
	height: 30px;
	cursor:pointer;
	border-radius: 15px;
}

.button:hover{
  border-color:#adbad9;
	color:#adbad9;
	border-radius: 15px;
}